<div (click)="goToProductPage()" (mouseenter)="toggleDescriptionShow()" (mouseleave)="toggleDescriptionShow()"
     class="w-full h-full flex relative product-card ease-in-out transition hover:scale-105 hover:drop-shadow-2xl hover:filter-none z-40 hover:z-50 hover:border border-gray-50">
    <div class="product-card__price-container">
        <p *ngIf="oldPrice" class="product-card__price product-card__price--old">&#163; {{oldPrice}}</p>
        <p class="product-card__price">&#163; {{price}}</p>
    </div>
    <img class="w-full flex"
         [src]="imageUrl"
         [alt]="imageAlt">
    <mat-divider></mat-divider>
    <div *ngIf="shouldDescriptionShow"
         class="w-full absolute bg-white top-full flex flex-col justify-center items-center gap-5 p-5 drop-shadow-2xl">
        <p class="text-center font-bold text-zinc-700 uppercase text-lg">{{name}}</p>
        <p class="text-center text-zinc-500">{{description}}</p>
        <div class="flex gap-5">
            <button mat-icon-button color="primary">
                <mat-icon>shopping_cart</mat-icon>
            </button>
            <button mat-icon-button color="primary">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button color="primary">
                <mat-icon>close_fullscreen</mat-icon>
            </button>
        </div>
    </div>
</div>
