<div class="w-full h-full relative product-card">
    <div class="product-card__price-container">
        <p class="product-card__price product-card__price--old">&#163;50.99</p>
        <p class="product-card__price">&#163;50.99</p>
    </div>
    <img class="w-full"
         src="https://www.asket.com/imgproxy/e:1/format:jpeg/width:1080/resize:fit/quality:80/plain/https://asket.centracdn.net/client/dynamic/images/2_00d6bb1f5b-asket_tee_white_cart_thumb-original.jpg@jpg"
         alt="">
</div>
