<div class="lookBook__hero">
    <div class="text-center absolute h-full w-full  bg-gray-900/80 z-40"></div>
    <div class="text-center z-50 flex flex-col content-center items-center gap-10">
        <p class="text-white uppercase text-5xl"><span class="font-bold">our</span> lookbook</p>
        <p class="text-white uppercase text-4xl">latest posts - mens & womens</p>
    </div>
</div>

<div class="p-10 xl:px-64">
    <mat-divider></mat-divider>
    <div class="my-16 flex flex-wrap gap-10 text-zinc-500 uppercase font-bold">
        <p class="text-teal-500">latest</p>
        <p>most liked</p>
        <p>best sellers</p>
        <p>price low to high</p>
        <p>price high to low</p>
    </div>

    <div class="flex flex-col xl:grid gap-5 grid-cols-4 grid-rows-3">
        <div>
            <app-product-card
                    name="men's t-shirt"
                    description="fancy red cotton t-shirt"
                    price="REFM1"
                    imageUrl="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/tshirts-1613587154.jpg?crop=0.502xw:1.00xh;0.250xw,0&resize=640:*"
                    imageAlt="t-shirt"
            >
            </app-product-card>
        </div>
        <div>
            <app-product-card
                    name="men's t-shirt"
                    description="fancy red cotton t-shirt"
                    price="REFM1"
                    imageUrl="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/tshirts-1613587154.jpg?crop=0.502xw:1.00xh;0.250xw,0&resize=640:*"
                    imageAlt="t-shirt"
            >
            </app-product-card>
        </div>
        <div class="col-span-2">
            <div class="w-full h-full relative flex flex-wrap bg-gray-200">
                <img class="w-full h-full relative lg:absolute z-10"
                     src="https://previews.123rf.com/images/bogdanbrasoveanu/bogdanbrasoveanu1905/bogdanbrasoveanu190500072/123809466-little-boy-sitting-down-on-white-background-and-looking-to-camera.jpg"
                     alt="">
                <div class="z-50 lg:w-2/3 p-5 flex flex-col gap-5 text-zinc-700 mb-12">
                    <p class="text-3xl uppercase"><span>alex's</span> lookbook</p>
                    <p class="uppercase">get the look for under $200!</p>
                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim eos illo officiis
                        quisquam voluptatibus. Assumenda consectetur dicta eum inventore nemo nihil, recusandae
                        voluptates. Ab accusamus, alias amet debitis, doloremque ea eveniet laudantium magnam nesciunt
                        nobis non perspiciatis quisquam voluptate. Voluptatum.</p>
                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus deserunt,
                        doloremque eum eveniet exercitationem iste maxime quibusdam sit vel voluptates.</p>
                    <button class="w-full lg:w-2/3 text-2xl p-5 uppercase border border-2 border-zinc-700 hover:bg-teal-500 hover:text-white hover:border-teal-500">
                        view now
                    </button>
                </div>
            </div>
        </div>
        <div>
            <app-product-card
                    name="men's t-shirt"
                    description="fancy red cotton t-shirt"
                    price="REFM1"
                    imageUrl="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/tshirts-1613587154.jpg?crop=0.502xw:1.00xh;0.250xw,0&resize=640:*"
                    imageAlt="t-shirt"
            >
            </app-product-card>
        </div>
        <div>
            <app-product-card
                    name="men's t-shirt"
                    description="fancy red cotton t-shirt"
                    price="REFM1"
                    imageUrl="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/tshirts-1613587154.jpg?crop=0.502xw:1.00xh;0.250xw,0&resize=640:*"
                    imageAlt="t-shirt"
            >
            </app-product-card>
        </div>
        <div>
            <app-product-card
                    name="men's t-shirt"
                    description="fancy red cotton t-shirt"
                    price="REFM1"
                    imageUrl="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/tshirts-1613587154.jpg?crop=0.502xw:1.00xh;0.250xw,0&resize=640:*"
                    imageAlt="t-shirt"
            >
            </app-product-card>
        </div>
        <div>
            <app-product-card
                    name="men's t-shirt"
                    description="fancy red cotton t-shirt"
                    price="REFM1"
                    imageUrl="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/tshirts-1613587154.jpg?crop=0.502xw:1.00xh;0.250xw,0&resize=640:*"
                    imageAlt="t-shirt"
            >
            </app-product-card>
        </div>
        <div class="col-span-3">
            <div class="w-full h-full relative flex flex-wrap bg-gray-200">
                <img class="w-full h-full relative lg:absolute z-10"
                     src="https://previews.123rf.com/images/bogdanbrasoveanu/bogdanbrasoveanu1905/bogdanbrasoveanu190500072/123809466-little-boy-sitting-down-on-white-background-and-looking-to-camera.jpg"
                     alt="">
                <div class="z-20 lg:w-1/2 p-5 flex flex-col gap-5 text-zinc-700 mb-12">
                    <p class="text-3xl uppercase"><span>alex's</span> lookbook</p>
                    <p class="uppercase">get the look for under $200!</p>
                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim eos illo officiis
                        quisquam voluptatibus. Assumenda consectetur dicta eum inventore nemo nihil, recusandae
                        voluptates. Ab accusamus, alias amet debitis, doloremque ea eveniet laudantium magnam nesciunt
                        nobis non perspiciatis quisquam voluptate. Voluptatum.</p>
                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus deserunt,
                        doloremque eum eveniet exercitationem iste maxime quibusdam sit vel voluptates.</p>
                    <button class="w-full lg:w-2/3 text-2xl p-5 uppercase border border-2 border-zinc-700 hover:bg-teal-500 hover:text-white hover:border-teal-500">
                        view now
                    </button>
                </div>
            </div>
        </div>
        <div>
            <app-product-card
                    name="men's t-shirt"
                    description="fancy red cotton t-shirt"
                    price="REFM1"
                    imageUrl="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/tshirts-1613587154.jpg?crop=0.502xw:1.00xh;0.250xw,0&resize=640:*"
                    imageAlt="t-shirt"
            >
            </app-product-card>
        </div>
    </div>
</div>

<div class="flex flex-col lg:flex-row gap-10 mt-10">
    <div class="flex flex-col xl:flex-row bg-gray-100">
        <img  class="w-full xl:w-1/3" src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1632945715-eddie-bauer-1632945702.jpg?crop=1xw:1xh;center,top&resize=480:*" alt="">
        <div class="flex flex-col items-end g-3 p-5">
            <p class="uppercase text-4xl font-bold text-zinc-600">men's</p>
            <p class="uppercase text-4xl text-zinc-600">look book</p>
            <p class="text-zinc-600 text-md text-right mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo natus rem veniam vitae. A amet at aut autem et inventore magnam tenetur voluptate.</p>
            <button class="text-2xl bg-teal-500 mt-5 text-white py-3 px-5">VIEW NOW</button>
        </div>`
    </div>
    <div class="flex flex-col xl:flex-row bg-gray-100">
        <img class="w-full xl:w-1/3" src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1632945715-eddie-bauer-1632945702.jpg?crop=1xw:1xh;center,top&resize=480:*" alt="">
        <div class="flex flex-col items-end g-3 p-5">
            <p class="uppercase text-4xl font-bold text-zinc-600">men's</p>
            <p class="uppercase text-4xl text-zinc-600">look book</p>
            <p class="text-zinc-600 text-md text-right mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo natus rem veniam vitae. A amet at aut autem et inventore magnam tenetur voluptate.</p>
            <button class="text-2xl bg-teal-500 mt-5 text-white py-3 px-5">VIEW NOW</button>
        </div>`
    </div>
    <div class="flex flex-col xl:flex-row bg-gray-100">
        <img class="w-full xl:w-1/3" src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1632945715-eddie-bauer-1632945702.jpg?crop=1xw:1xh;center,top&resize=480:*" alt="">
        <div class="flex flex-col items-end g-3 p-5">
            <p class="uppercase text-4xl font-bold text-zinc-600">men's</p>
            <p class="uppercase text-4xl text-zinc-600">look book</p>
            <p class="text-zinc-600 text-md text-right mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo natus rem veniam vitae. A amet at aut autem et inventore magnam tenetur voluptate.</p>
            <button class="text-2xl bg-teal-500 mt-5 text-white py-3 px-5">VIEW NOW</button>
        </div>
    </div>
</div>