<mat-sidenav-container class="h-full">
    <mat-sidenav class="w-52" mode="over" [(opened)]="shouldMenuOpen">
        <mat-selection-list [multiple]="false">
            <mat-list-option class="uppercase">Register</mat-list-option>
            <mat-list-option class="uppercase">Sign in</mat-list-option>
            <mat-list-option class="uppercase">men's</mat-list-option>
            <mat-list-option class="uppercase">women's</mat-list-option>
            <mat-list-option class="uppercase"><a routerLink="./brand" routerLinkActive="text-teal-500">the brand</a>
            </mat-list-option>
            <mat-list-option class="uppercase">
                <a routerLink="./local-stores" routerLinkActive="text-teal-500">
                    local stores
                </a>
            </mat-list-option>
            <mat-list-option class="uppercase">
                <a routerLink="./look-book" routerLinkActive="text-teal-500">
                    look book
                </a>
            </mat-list-option>
        </mat-selection-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <header class="w-full bg-zinc-700">
            <div class="mx-5 xl:mx-96 flex gap-5 content-center items-center">
                <button (click)="toggleMenu()" mat-icon-button class="lg:hidden text-white">
                    <mat-icon>menu</mat-icon>
                </button>
                <div class="flex justify-center items-center">
                    <p class="text-white flex justify-center items-center">Currency : GBP
                        <mat-icon>arrow_drop_down</mat-icon>
                    </p>
                </div>
                <div class="flex ml-auto gap-3">
                    <p class="hidden sm:flex justify-center items-center text-white">Register</p>
                    <p class="hidden sm:flex justify-center items-center text-white">Sign in</p>
                    <div class="flex justify-center items-center text-white bg-teal-500 gap-5 py-4 px-8 ml-10">
                        <mat-icon>shopping_cart</mat-icon>
                        <p class="flex justify-center items-center">Empty
                            <mat-icon>arrow_drop_down</mat-icon>
                        </p>
                    </div>
                </div>
            </div>
        </header>

        <div class="w-full text-zinc-700 flex flex-col lg:flex-row justify-between items-center gap-5 px-32 py-10">
            <h1 class="uppercase text-3xl"><span class="font-bold">avenue</span> fashion</h1>
            <div class="flex justify-center items-center gap-20 ">
                <nav class="lg:flex hidden uppercase flex gap-12">
                    <a>mens</a>
                    <a>womens</a>
                    <a routerLink="./brand" routerLinkActive="text-teal-500">the brand</a>
                    <a routerLink="./local-stores" routerLinkActive="text-teal-500">local stores</a>
                    <a routerLink="./look-book" routerLinkActive="text-teal-500">look book</a>
                </nav>
                <div class="search__container">
                    <input class="border border-zinc-400 outline-0 p-1 " placeholder="Search..." type="text">
                    <mat-icon class="search__icon">search</mat-icon>
                </div>
            </div>
        </div>

        <router-outlet></router-outlet>

        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>
