<header class="w-full bg-zinc-700">
    <div class="mx-96 flex justify-between content-center">
        <div class="flex justify-center items-center">
            <p class="text-white flex justify-center items-center">Currency : GBP
                <mat-icon>arrow_drop_down</mat-icon>
            </p>
        </div>
        <div class="flex gap-3">
            <p class="flex justify-center items-center text-white">Register</p>
            <p class="flex justify-center items-center text-white">Sign in</p>
            <div class="flex justify-center items-center text-white bg-teal-500 gap-5 py-4 px-8 ml-10">
                <mat-icon>shopping_cart</mat-icon>
                <p class="flex justify-center items-center">Empty
                    <mat-icon>arrow_drop_down</mat-icon>
                </p>
            </div>
        </div>
    </div>
</header>

<div class="w-full text-zinc-700 flex justify-between items-center px-32 py-10">
    <h1 class="uppercase text-3xl"><span class="font-bold">avenue</span> fashion</h1>
    <div class="flex justify-center items-center gap-20">
        <nav class="uppercase flex gap-12">
            <a>mens</a>
            <a>womens</a>
            <a>the brand</a>
            <a>local stores</a>
            <a>look book</a>
        </nav>
        <div class="search__container">
            <input class="border border-zinc-400 outline-0 p-1" placeholder="Search..." type="text">
            <mat-icon class="search__icon">search</mat-icon>
        </div>
    </div>
</div>