<footer class="mt-5 py-10 px-12 xl:px-80 bg-gray-200">
    <div class="w-full flex flex-wrap justify-between gap-15">
        <div>
            <p class="footer__heading">information</p>
            <p class="footer__subHeading">The brand</p>
            <p class="footer__subHeading">Local stores</p>
            <p class="footer__subHeading">Customer service</p>
            <p class="footer__subHeading">Privacy & cookies</p>
            <p class="footer__subHeading">Site map</p>
        </div>

        <div>
            <p class="footer__heading">why but from us</p>
            <p class="footer__subHeading">Shipping & returns</p>
            <p class="footer__subHeading">Secure shopping</p>
            <p class="footer__subHeading">Testimonials</p>
            <p class="footer__subHeading">Award winning</p>
            <p class="footer__subHeading">Ethical trading</p>
        </div>

        <div>
            <p class="footer__heading">why but from us</p>
            <p class="footer__subHeading">Shipping & returns</p>
            <p class="footer__subHeading">Secure shopping</p>
            <p class="footer__subHeading">Testimonials</p>
            <p class="footer__subHeading">Award winning</p>
            <p class="footer__subHeading">Ethical trading</p>
            <p class="footer__subHeading">Ethical trading</p>
        </div>

        <div>
            <p class="footer__heading">why but from us</p>
            <p class="footer__subHeading">Shipping & returns</p>
            <p class="footer__subHeading">Secure shopping</p>
            <p class="footer__subHeading">Testimonials</p>
            <p class="footer__subHeading">Award winning</p>
            <p class="footer__subHeading">Ethical trading</p>
            <p class="footer__subHeading">Ethical trading</p>
        </div>

        <div>
            <p class="footer__heading">contact details</p>
            <p class="footer__subHeading">head office: Avenue Fashion.</p>
            <p class="footer__subHeading mb-5">180-182 Regent Street, London.</p>
            <p class="footer__subHeading">Telephone: 0123-456-789</p>
            <p class="footer__subHeading">Email: support@yourwebsite.com</p>
        </div>
    </div>
    <div class="w-full flex flex-col lg:flex-row items-stretch gap-7 justify-center mt-5">
        <div class="w-full flex flex-col justify-center items-center bg-zinc-800 px-10 py-14">
            <p class="text-white font-bold text-4xl">AWARD WINNER</p>
            <p class="text-white text-4xl">FASHION AWARDS 2016</p>
        </div>
        <div class="w-full flex flex-wrap gap-16 justify-center items-center bg-teal-500 px-10 py-14">
            <p><mat-icon class="text-5xl text-white">public</mat-icon></p>
            <p><mat-icon class="text-5xl text-white">share</mat-icon></p>
            <p><mat-icon class="text-5xl text-white">face</mat-icon></p>
            <p><mat-icon class="text-5xl text-white">group</mat-icon></p>
            <p><mat-icon class="text-5xl text-white">eco</mat-icon></p>
        </div>
    </div>
</footer>