<div class="signup__hero">
    <div class="text-center absolute h-full w-full  bg-gray-900/80 z-40"></div>
    <div class="text-center z-50 flex flex-col content-center items-center gap-10">
        <p class="text-white uppercase text-5xl"><span class="font-bold">welcome</span> to ave</p>
        <p class="text-white uppercase text-4xl">sign in or register</p>
    </div>
</div>

<div class="m-5 mb-20 lg:mx-72 flex flex-col lg:flex-row gap-5 text-zinc-500">
    <div class="w-full flex flex-col gap-2">
        <p class="text-zinc-700 uppercase">sing in</p>
        <mat-form-field appearance="outline">
            <mat-label>your email</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>your password</mat-label>
            <input matInput>
        </mat-form-field>
        <div class="flex flex-wrap justify-between items-center">
            <button class="border border-zinc-700 text-zinc-700 px-7 py-5 uppercase hover:bg-teal-500 hover:text-white hover:border-teal-500">sign in</button>
            <button class="px-7 py-5 text-teal-500">Forgot your password?</button>
        </div>
    </div>
    <mat-divider vertical></mat-divider>
    <div class="w-full flex flex-col gap-2">
        <p class="text-zinc-700 uppercase">sing in</p>
        <mat-form-field appearance="outline">
            <mat-label>your email</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>your password</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>confirm password</mat-label>
            <input matInput>
        </mat-form-field>
        <p>sign up for exclusive updates, discounts, new arrivals, contents, and more!</p>
        <div class="flex flex-wrap justify-between items-center">
            <button class="border border-zinc-700 text-zinc-700 px-7 py-5 uppercase hover:bg-teal-500 hover:text-white hover:border-teal-500">create account</button>
            <button class="px-7 py-5 text-teal-500">privacy policy</button>
        </div>
    </div>
</div>