<div class="product__hero">
    <div class="text-center absolute h-full w-full  bg-gray-900/80 z-40"></div>
    <div class="text-center z-50 flex flex-col content-center items-center gap-10">
        <p class="text-white uppercase text-5xl"><span class="font-bold">product</span> view</p>
        <p class="text-white uppercase text-4xl">mens - causals - hoodies & sweatshirts - <span class="text-teal-500">ave classic sweatshirt</span></p>
    </div>
</div>

<div class="mt-10">
    <router-outlet></router-outlet>
</div>
