<div class="brand__hero">
    <div class="text-center absolute h-full w-full  bg-gray-900/80 z-40"></div>
    <div class="text-center z-50 flex flex-col content-center items-center gap-10">
        <p class="text-white uppercase text-5xl"><span class="font-bold">the</span> brand</p>
        <p class="text-white uppercase text-4xl">company slogan goes here</p>
    </div>
</div>

<div class="brand__about">
    <img class="w-full h-full row-span-3" src="https://as2.ftcdn.net/v2/jpg/00/88/53/89/1000_F_88538986_5Bi4eJ667pocsO3BIlbN4fHKz8yUFSuA.jpg" alt="">
    <div class="col-start-2 row-start-2">
        <p class="uppercase mb-4 text-xl font-bold text-zinc-700">the designed clothing</p>
        <p class="uppercase mb-2 font-bold text-zinc-700">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam minus repellat.</p>
        <p class="uppercase text-zinc-700">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam dolor explicabo, fugiat magni molestiae nam perspiciatis rerum sapiente. Consectetur deleniti eius eveniet exercitationem explicabo qui, quia quis quos totam. Aperiam autem, commodi consequatur cupiditate, dolorem ducimus error fugiat maiores pariatur porro, vel velit voluptates! Aperiam eos laborum quia tempora!</p>
    </div>
    <img class="w-full h-full col-start-2 row-start-3 row-span-3" src="https://as2.ftcdn.net/v2/jpg/00/88/53/89/1000_F_88538986_5Bi4eJ667pocsO3BIlbN4fHKz8yUFSuA.jpg" alt="">
    <div class="col-start-2 row-start-6">
        <p class="uppercase mb-4 text-xl font-bold text-zinc-700">the designed clothing</p>
        <p class="uppercase mb-2 font-bold text-zinc-700">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam minus repellat.</p>
        <p class="uppercase text-zinc-700">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam dolor explicabo, fugiat magni molestiae nam perspiciatis rerum sapiente. Consectetur deleniti eius eveniet exercitationem explicabo qui, quia quis quos totam. Aperiam autem, commodi consequatur cupiditate, dolorem ducimus error fugiat maiores pariatur porro, vel velit voluptates! Aperiam eos laborum quia tempora!</p>
    </div>
    <img class="w-full h-full col-start-1 row-start-4 row-span-3" src="https://as2.ftcdn.net/v2/jpg/00/88/53/89/1000_F_88538986_5Bi4eJ667pocsO3BIlbN4fHKz8yUFSuA.jpg" alt="">
    <div class="col-start-1 row-start-7">
        <p class="uppercase mb-4 text-xl font-bold text-zinc-700">the designed clothing</p>
        <p class="uppercase mb-2 font-bold text-zinc-700">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam minus repellat.</p>
        <p class="uppercase text-zinc-700">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam dolor explicabo, fugiat magni molestiae nam perspiciatis rerum sapiente. Consectetur deleniti eius eveniet exercitationem explicabo qui, quia quis quos totam. Aperiam autem, commodi consequatur cupiditate, dolorem ducimus error fugiat maiores pariatur porro, vel velit voluptates! Aperiam eos laborum quia tempora!</p>
    </div>
    <div class="flex gap-10 content-center items-center col-start-2 row-start-7">
        <p>
            <img class="w-full" src="https://www.signwell.com/assets/vip-signatures/muhammad-ali-signature-6a40cd5a6c27559411db066f62d64886c42bbeb03b347237ffae98b0b15e0005.svg" alt="">
        </p>
        <p>
            <img class="w-full" src="https://www.signwell.com/assets/vip-signatures/muhammad-ali-signature-6a40cd5a6c27559411db066f62d64886c42bbeb03b347237ffae98b0b15e0005.svg" alt="">
        </p>
        <p>
            <img class="w-full" src="https://www.signwell.com/assets/vip-signatures/muhammad-ali-signature-6a40cd5a6c27559411db066f62d64886c42bbeb03b347237ffae98b0b15e0005.svg" alt="">
        </p>
    </div>
</div>