<div class="px-32">
    <div class="flex gap-10">
        <p class="uppercase text-teal-500">popular</p>
        <p class="uppercase text-zinc-700">new arrivals</p>
        <p class="uppercase text-zinc-700">best sellers</p>
        <p class="uppercase text-zinc-700">special offers</p>
        <p class="uppercase text-zinc-700">coming soon</p>
    </div>

    <div class="grid mt-16 gap-5 grid-cols-4 grid-rows-5">
        <div class="row-span-2">
            <app-product-card
                name="men's t-shirt"
                description="fancy red cotton t-shirt"
                price="89.99"
                imageUrl="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/tshirts-1613587154.jpg?crop=0.502xw:1.00xh;0.250xw,0&resize=640:*"
                imageAlt="t-shirt"
            ></app-product-card>
        </div>
        <div class="row-span-2">
            <app-product-card
                    name="women's t-shirt"
                    description="light and quality t-shirt"
                    price="89.99"
                    imageUrl="https://pyxis.nymag.com/v1/imgs/438/917/a037ceddc7cac2e0ce654593f692ae8c41-leif-black-0001-web-1186x1186.2x.rsquare.w600.jpg"
                    imageAlt="t-shirt"
            ></app-product-card>
        </div>
        <div class="col-span-2 row-span-3">
            <app-product-card
                    name="women's t-shirt"
                    description="light and quality t-shirt"
                    price="99.99"
                    oldPrice="120.99"
                    imageUrl="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ghi-best-winter-coats-1571761591.png?crop=0.510xw:0.740xh;0.246xw,0.260xh&resize=640:*"
                    imageAlt="t-shirt"
            ></app-product-card>
        </div>
        <div class="col-span-2 row-span-3">
            <app-product-card
                    name="women's t-shirt"
                    description="light and quality t-shirt"
                    price="89.99"
                    imageUrl="https://pyxis.nymag.com/v1/imgs/438/917/a037ceddc7cac2e0ce654593f692ae8c41-leif-black-0001-web-1186x1186.2x.rsquare.w600.jpg"
                    imageAlt="t-shirt"
            ></app-product-card>
        </div>
        <div class="row-span-2">
            <app-product-card
                    name="women's t-shirt"
                    description="light and quality t-shirt"
                    price="89.99"
                    imageUrl="https://5.imimg.com/data5/HG/LB/XV/ANDROID-71668676/product-jpeg-500x500.jpg"
                    imageAlt="t-shirt"
            ></app-product-card>
        </div>
        <div class="row-span-2">
            <app-product-card
                    name="women's t-shirt"
                    description="light and quality t-shirt"
                    price="89.99"
                    imageUrl="https://pyxis.nymag.com/v1/imgs/438/917/a037ceddc7cac2e0ce654593f692ae8c41-leif-black-0001-web-1186x1186.2x.rsquare.w600.jpg"
                    imageAlt="t-shirt"
            ></app-product-card>
        </div>
    </div>
</div>