<div class="px-32">
    <div class="flex gap-10">
        <p class="uppercase text-teal-500">popular</p>
        <p class="uppercase text-zinc-700">new arrivals</p>
        <p class="uppercase text-zinc-700">best sellers</p>
        <p class="uppercase text-zinc-700">special offers</p>
        <p class="uppercase text-zinc-700">coming soon</p>
    </div>

    <div class="grid mt-16 gap-5 grid-cols-4 grid-rows-5">
        <div class="row-span-2">
            <app-product-card></app-product-card>
        </div>
        <div class="row-span-2">
            <app-product-card></app-product-card>
        </div>
        <div class="col-span-2 row-span-3">
            <app-product-card></app-product-card>
        </div>
        <div class="col-span-2 row-span-3">
            <app-product-card></app-product-card>
        </div>
        <div class="row-span-2">
            <app-product-card></app-product-card>
        </div>
        <div class="row-span-2">
            <app-product-card></app-product-card>
        </div>
    </div>
</div>